.algorithm-info {
    flex-basis: 13.5%;
    height: 70vh;
    margin-left: 1.5%;
    margin-top: 1.5%;
}

@media screen and (max-width: 1400px) {
    .algorithm-info {
        flex-basis: 47%;
        height: 20vh;
        margin-right: 1.5%;
    }
}

.info-card {
    background-color: var(--background-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 25px 15px;
    font-size: 1em;
}

.info-card input {
    width: 80%;
}

.performance-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
}

.icon {
    cursor: pointer;
}
