.bar {
    background-color: var(--font-color-primary);
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid var(--background-secondary);
    border-right: 1px solid var(--background-secondary);
}