.navbar {
    height: 5vh;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
}

.navbar-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.navbar-menu-list {
    list-style: none;
    display: flex;
}

.navbar-menu-list li {
    cursor: pointer;
    margin-right: 0.3rem;
}