.visualizer-container {
    display: flex;
    justify-content: center;
    height: 95vh;
    flex-wrap: wrap;
}

.visualizer {
    flex-basis: 67%;
    height: 40vh;
    margin: 1.5%;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--background-secondary);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
    .visualizer {
        height: 70vh;
    }
}

@media screen and (max-width: 1400px) {    
    .visualizer {
        flex-basis: 97%;
        order: -1;
    }
}